---
import Layout from "layouts/Layout.astro";
import Header from "components/Header/index.astro";
import Hero from "components/Hero.astro";
import Projects from "components/Projects/index.astro";
import Certificates from "components/Certificates/About.astro";
import Contact from "components/Contact/index.astro";
import Footer from "components/Footer.astro";
---

<Layout title="Porfolio de Miguel">
  <Header />
  <main>
    <Hero />
    <Projects />
    <Certificates />
    <Contact />
  </main>
  <Footer />
</Layout>
